#contactBackground {
    background: rgb(21,56,87);
    background: linear-gradient(90deg, rgba(21,56,87,1) 50%, rgba(21,61,97,1) 60%, rgba(21,65,104,1) 68%, rgba(20,71,114,1) 81%, rgba(0,93,165,1) 100%);
    color: whitesmoke;
}

.col-sm-4 {
        img {
            border-radius: 2%;
            box-shadow: 1px 1px 6px black;
        }
            p {
                padding: 0.5em;
                text-align: left;
            }
}

button {
    float: right;
    background-color: #343a40;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #343a40;

    .top h5 {
        color: whitesmoke;
        padding: 1em;
    }
}