.col-sm-4 {
        img {
            border-radius: 2%;
            box-shadow: 1px 1px 6px black;
        }
            p {
                padding: 0.5em;
                text-align: left;
            }
}

.top { 
    text-align: right;
    float: right;

    h6 {
    color: whitesmoke;
    font-weight: bold;

    }
}